/*for swiper*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*for swiper*/
*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

* {
  margin: 0;
}


:root {
  --primary:black;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}


.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


body {
  overflow-x: hidden; /* to Hide horizontal scrollbar */
}

/* Navbar Background to Purple */
.navbar {
    background-color: lightgrey !important; /* lightgrey color */
}

.navbar .nav-link,
.navbar .navbar-brand{
    color: black !important; /* Makes text and buttons visible */
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: purple !important; /* Purple color on hover */
}

.btn {
    background-color: rgb(75, 10, 75) !important; 
    color: white !important;
    padding: 10px;
}
.btn:hover{
  background-color: white !important;
  color:rgb(75, 10, 75) !important ;
}

.searchinput:hover{
  width: 300px;
}
/* Footer Background to lightgrey */
footer {
    background-color: lightgray!important; /* Lightgrey color */
}

footer a:hover {
    color: purple !important; /* purple color on hover */
}

.btn-login {
    background-color: white !important;
    color: rgb(75, 10, 75) !important;
    border: 1px solid rgb(75, 10, 75) !important;
}

.btn-login:hover {
    background-color: rgb(75, 10, 75) !important;
    color: white !important;
}


h2,h1{
  font-size: xx-large !important;
  color: purple !important;
}
h3{
  color: purple;
}

.paracenter{
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #5a2d82, #2d5a82);
  color: white;
}

/*FOR FAQ*/
.card-body,
.accordion-button:not(.collapsed) {
  background: linear-gradient(to right, #5a2d82, #2d5a82);
  color: #fff;
}
#FAQheadingOne,
#FAQheadingTwo,
#FAQheadingThree{
  font-size: 20px;
  
}
.accordion-body{
  font-size: 15px;
}

hr{
width: 80px; 
height: 3px; 
background-color: #5a2d82;
}

.h1cta{
  color: white !important;
}
.hero-section{
background: linear-gradient(to right, #5a2d82, #2d5a82);
}

#name,#email{
  padding: 10px;

}


/*FOR CUSTOMERS SCROLLER*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
    background-image: url('/images/SharLogo.jpeg'); /*Replace with the correct path */
    background-size: cover;
    background-position: center;
  }
  
  .item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
    background-image: url('/images/KiaLogo.png');
    background-size: cover;
    background-position: center;
  }
  
  .item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
    background-image: url('/images/crodalogo.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
    background-image: url('/images/HarmanLogo.png');
    background-size: cover;
    background-position: center;
  }
  
  .item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
    background-image: url('/images/JennairLogo.png');
    background-size: cover;
    background-position: center;
  }
  
  .item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
    background-image: url('/images/SchemeLogo.png');
    background-size: cover;
    background-position: center;
  }
  
  .item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
    background-image: url('/images/TBILOGO.png');
    background-size: cover;
    background-position: center;
  }
  
  .item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
    background-image: url('/images/GenwestLogo.png');
    background-size: cover;
    background-position: center;
  }
  
